@model IEnumerable<WebApplication1.Models.DB.Purchase>


@{
    ViewBag.Title = "Manage Purchase";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<div class="container">
    <ol class="breadcrumb">
        <li><a href="@Url.Action("Index","Admin", new { @id = Session["UserID"]})"><span class="glyphicon glyphicon-home"></span></a></li>
        <li class="active">Manage Purchase</li>
    </ol>
    <ul class="nav navbar-nav navbar-left">
        <li>
            <p>
                <button class="btn btn-default" type="button">
                    Total Purchases : <span class="badge">@Model.Count()</span>
                </button>
           

            </p>
        </li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
        <li>
            <p>
                <a class="btn btn-default btn-primary btn-sm" href="@Url.Action("Create","Admin")" role="button"><span class="glyphicon glyphicon-plus"></span> Create New</a>
            </p>
        </li>
    </ul>
</div>
<hr />
<script src="~/Scripts/jquery-1.12.3.js"></script>
<script src="~/Scripts/jquery.dataTables.min.js"></script>
<link href="~/Content/jquery.dataTables.min.css" rel="stylesheet" type="text/css" />
<script src="~/Scripts/bootstrap.min.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        $('#example').DataTable();
    });
</script>


<p>
</p>
<table id="example" class="display" cellspacing="0" style="width:100%;">
    <thead>
        <tr>
            <th>
            ID
            </th>
            <th>
                Name
            </th>
            <th>
                Product Name
            </th>
            <th>
                Purchase Type
            </th>
            <th>
                Quantity
            </th>
            <th>
                Price
            </th>
            <th>
                Status
            </th>
            <th>
                Date Purchase
            </th>
            <th>
                Parent ID
            </th>
            <th>
                Action
            </th>
        </tr>
        </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.User.RID)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.User.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Product.NameProduct)
                </td>
                <td>
                    @if (item.Product.ProductTypeID == 1)
                    {
                        <p> Product </p>
                    }
                    else
                    {
                        <p>Redeem</p>
                    }

                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Quantity)
                </td>
                <td>
                    RM&nbsp;@Html.DisplayFor(modelItem => item.Product.Price)
                </td>

                <td>
                    @if (item.StatusID == 2)
                    {
                        <span class="label label-success"> @Html.DisplayFor(modelItem => item.Ref_Status.Description) </span>
                    }
                    else if (item.StatusID == 1)
                    {
                        <span class="label label-default"> @Html.DisplayFor(modelItem => item.Ref_Status.Description) </span>
                    }
                    else
                    {
                        <span class="label label-danger"> @Html.DisplayFor(modelItem => item.Ref_Status.Description) </span>
                    }

                </td>
                <td>
                    @Html.TextBoxFor(modelItem => item.Datecreate, "{0:dd-MMM-yyyy}",  new { @class ="form-control", disabled = "disabled"})
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.User.ParentID)
                </td>




                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.ID }) |
                    @Html.ActionLink("Details", "Details", new { id = item.ID })
                </td>
            </tr>
        }
    </tbody>
</table>